.testimonial {
  position: relative;

  padding: var(--size-1000);
  margin-top: 4.375em;

  background-color: hsl(227, 67%, 43%);
}

.testimonial-image {
  position: absolute;
  top: -3em;

  width: 384px;
  height: 464px;
}

.testimonial-quotes {
  width: 44px;
  height: 35px;
}

.testimonial--image .testimonial-content {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);

  margin-left: 25em;

  color: hsl(0, 0%, 100%);
}

.testimonial--image .testimonial-text {
  max-width: 500px;
  padding: var(--size-500) 0;
  font-size: var(--fs-700);
}

.testimonial-author {
  font-weight: var(--fw-bold);
}
