.testimonial {
  position: relative;

  padding: var(--size-1000);
  margin-top: 4.375em;
}

.testimonial--image {
  background-color: hsl(227, 67%, 43%);
}

.testimonial-image {
  position: absolute;
  top: -3em;

  width: 384px;
  height: 464px;
}

.testimonial-quotes {
  width: 44px;
  height: 35px;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-100);
}

.testimonial--image .testimonial-content {
  margin-left: 25em;

  color: var(--clr-primary-100);
}

.testimonial--image .testimonial-text {
  max-width: 800px;
  padding: var(--size-500) 0;
  font-size: var(--fs-700);
}

.testimonial-author {
  font-weight: var(--fw-bold);
}

@media (max-width: 815px) {
  .testimonial--image {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5em;
    margin-top: 6em;
  }

  .testimonial-image {
    top: -5em;
    width: 344px;
    height: 206px;
  }
  .testimonial--image .testimonial-content {
    padding: var(--size-1000) 0 var(--size-500);
    margin: 0;
    max-width: 500px;
  }
}
