.banner {
  padding: var(--size-600);

  background-color: white;
  border-radius: 6px;
}

.banner-header {
  display: flex;
  gap: var(--size-200);
}

.banner-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-500);
}

.banner-message {
  padding: var(--size-200) 0 0 var(--size-700);
}

.error {
  background-color: hsl(0, 86%, 97%);
}

.error .banner-title {
  color: hsl(23, 83%, 31%);
}

.error .banner-message {
  color: hsl(26, 90%, 37%);
}

.neutral {
  background-color: hsl(214, 100%, 97%);
}

.neutral .banner-title {
  color: hsl(226, 71%, 40%);
}

.neutral .banner-message {
  color: hsl(220, 74%, 42%);
}

.success {
  background-color: hsl(152, 81%, 96%);
}

.success .banner-title {
  color: hsl(163, 88%, 20%);
}

.success .banner-message {
  color: hsl(163, 94%, 24%);
}

.warning {
  background-color: hsl(48, 100%, 96%);
}

.warning .banner-title {
  color: hsl(23, 83%, 31%);
}

.warning .banner-message {
  color: hsl(26, 90%, 37%);
}
