/* ===========================
   General Styles
   =========================== */

body {
  font-family: var(--ff-body);
  font-size: 1rem;
  color: var(--clr-primary-1000);

  background: linear-gradient(
    90deg,
    var(--clr-accent-200),
    var(--clr-primary-100)
  );
  -webkit-background: linear-gradient(
    90deg,
    var(--clr-accent-200),
    var(--clr-primary-100)
  );
  -moz-background: linear-gradient(
    90deg,
    var(--clr-accent-200),
    var(--clr-primary-100)
  );
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--size-400);
}

.header {
  margin-bottom: var(--size-200);
}

.component-title {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  text-align: center;

  margin-bottom: var(--size-400);
}

.badge-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-400);
  margin-bottom: var(--size-500);
}
