/* ===========================
   General Styles
   =========================== */

body {
  font-family: var(--ff-body);
  font-size: 1rem;
  color: var(--clr-primary-1000);

  background: linear-gradient(
    90deg,
    var(--clr-accent-200),
    var(--clr-primary-100)
  );
  -webkit-background: linear-gradient(
    90deg,
    var(--clr-accent-200),
    var(--clr-primary-100)
  );
  -moz-background: linear-gradient(
    90deg,
    var(--clr-accent-200),
    var(--clr-primary-100)
  );
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--size-400);
}


