/* ===========================
   1. Root Design Tokens
   =========================== */
:root {
  /* ===========================
     COLOR PALETTE
     =========================== */

  /* Accent Colors */

  /* Primary Colors */
  --clr-primary-1000: hsl(221, 39%, 11%);

  /* Neutral Colors */

  /* ===========================
     TYPOGRAPHY
     =========================== */

  /* Font Families */
  --ff-primary: "Inter", sans-serif;
  --ff-body: var(--ff-primary);

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Font Sizes (Scale) */
  --fs-500: 0.875rem;
  --fs-600: 1rem;
  --fs-700: 1.125rem;
  --fs-800: 1.5rem;

  /* Font Roles */

  /* ===========================
     SPACING SCALE
     =========================== */
}

/* ===========================
   1. General Styles
   =========================== */

body {
  font-family: var(--ff-body);
  font-size: 1rem;
  color: var(--clr-primary-1000);
}