/* ===========================
   Reset
   =========================== */

/* ✅ Andy Bell's reset: https://piccalil.li/blog/a-modern-css...
✅ Josh Comeau's reset: https://www.joshwcomeau.com/css/custo...
✅ More on prefers-reduced-motion: https://web.dev/prefers-reduced-motion/ */

/* 1. Use a more intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Reset default margin, padding, and font inheritance */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* 3. Remove default list styles for elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* 4. Set core defaults */
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  line-height: 1.5; /* Improve readability */
  text-rendering: optimizeSpeed; /* Enhance text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Default styles for links without a class */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Ensure form elements inherit fonts */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Prevent text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve text wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context for frameworks */
#root,
#__next {
  isolation: isolate;
}

/* 11. Reduce motion for users with motion sensitivity */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
